{% extends "main.html" %} {% block content %}


<br><br><br>
<table border="1px" class="table">
    <tr>
        <th>Kompaniya</th>
        <th>Sim carta raqami</th>
        <th>Egasi</th>
        <th>tartib raqami</th>
        <th>Narhi</th>
        <th>Manzili</th>
        <th>yaratilgan vaqti</th>
        <th>Kormoq</th>
    </tr>
    {% for product in products %}
    <tr>
        <td></td>
        <td>{{product.number}}</td>
        <td>{{product.user}}</td>
        <td>{{product.id}}</td>
        <td>
            {% if product.price == 0 %} free {% else %} {{product.price}} {% endif %}

        </td>
        <td>{{product.location}}</td>
        <td>{{product.created_at}}</td>
        <td>
            <a href="{% url 'delete-product' product.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>


{% endblock content %}